<!DOCTYPE html>
<html>
<head>
    <title>Dojo Learning</title>
    <link rel="stylesheet" href="../../../dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <script src="../../../dojo/dojo/dojo.js" data-dojo-config="'cacheBust:new Date();parseOnLoad':true,'async':true,
     'packages':[{'name':'weblabs','location':'./../../weblabs'}],'parseOnLoad':true"></script>
    <script>
        require(["dojo/parser", "weblabs/layout/TabContainer", "dijit/layout/ContentPane", 'dijit/_Container',"dojo/domReady!"]);
    </script>
    <script>
      /*  require(["dojo/parser", "weblabs/layout/TabContainer", "dijit/layout/ContentPane", 'dijit/_Container',"dojo/domReady!"],
                function(parser, TabContainer, ContentPane, _Container){
            var tc = new TabContainer({
                style: "height: 100%; width: 100%;"
            });
            var cp1 = new ContentPane({
                title: "Food",
                content: "We offer amazing food"
            });
            tc.addChild(cp1);
                    var cp2 = new ContentPane({
                        title: "Drinks",
                        content: "We are known for our drinks."
                    });
                    tc.addChild(cp2);
            tc.placeAt("tc1-prog");
                });*/
    </script>
</head>
<body class="claro">
<div id="tc1-prog"></div>
<!-- <div style="width: 350px; height: 300px">
    <div data-dojo-type="dijit/layout/TabContainer" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" title="My first tab" data-dojo-props="selected:true">
            Lorem ipsum and all around...
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="My second tab">
            Lorem ipsum and all around - second...
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="My last tab" data-dojo-props="closable:true">
            Lorem ipsum and all around - last...
        </div>
    </div>
</div>-->
<!--<script>
    $('#tapNode a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>-->

    <div data-dojo-type="weblabs/layout/TabContainer" style="width: 100%; height: 100%;">
    <div data-dojo-type="dijit/layout/ContentPane" href="amit.html" title="My first tab1" selected=true>
        Lorem ipsum and all around...
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" title="My first tab2"   >
        Lorem ipsum and all around2...
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" title="My first tab3" >
            Lorem ipsum and all around3...
    </div>
</div>
</body>
</html>